<div class="list-group list-group-flush">
  <a
    class="list-group-item p-3"
    routerLink="prod"
    (click)="setActive('all')"
    [ngClass]="{ active: activeItem === 'all' }"
    >View All Products</a
  >
  <a
    class="list-group-item p-3"
    routerLink="prod/addprods"
    (click)="setActive('addprods')"
    [ngClass]="{ active: activeItem === 'addprods' }"
    >Add New Products</a
  >
  <a
    class="list-group-item p-3"
    [ngClass]="{ active: activeItem === item.id }"
    (click)="setActive(item.id)"
    *ngFor="let item of categoryList"
  >
    {{ item.categoryName }}
  </a>
</div>
