img {
  height: 150px;
  object-fit: cover;
}

.product-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  height: 120px;
}

.card-footer {
  height: 50px;
}
