<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1" *ngFor="let item of productList">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src={{item.productImg}} alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <a routerLink="viewprod/{{item.id}}"><h6 class="text-truncate mb-3">{{item.name}}</h6></a>
                    <p>{{item.description}}</p>
                    <div class="d-flex justify-content-center">
                        <h6>${{item.price}}</h6><h6 class="text-muted ml-2"><del>$700</del></h6>
                        <p>{{item.rating}} stars</p>
                    </div>
                    
                </div>
                <div class="card-footer  justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0">View Detail</a>
                    <a href="" class="btn btn-sm text-dark p-0">Add To Cart</a>
                </div>
            </div>
        </div>
        <div *ngIf="productList">
            <h1>No Product found</h1>
        </div>
    </div>
</div>